<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>

  <footer>
    <a href="https://www.flaticon.com/free-icons/american-football" title="Favicon credit">Favicon created by ffif fudin - Flaticon</a>
  </footer>
</html>
