<!DOCTYPE html>
<html>
  <head>
    <title>Commissioner Tools</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Commissioner Tools</h1>
    <p>Welcome to <%= title %></p>
  </body>

  <footer>
    <!-- Attribution for favicon from https://www.flaticon.com/free-icon/management_17270492 -->
    <a href="https://www.flaticon.com/free-icons/american-football" title="Favicon credit">Favicon created by ffif fudin - Flaticon</a>
  </footer>
</html>
