<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <!-- uncomment if boostrap js is needed
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/5.2.3/bootstrap.min.js"></script>
    -->
    <!-- <script src="/javascripts/main.js"></script> -->
    <script src="http://localhost:3000/javascripts/main.js"></script>
    <!-- <script src="https://localhost:3443/javascripts/main.js"></script> -->
  </body>
</html>
