/* Mobile-only styles go here
 */
@media only screen and (max-width: 600px) {
  #space1, #space2 {
    display: none;
  }
}

/* Styles below this are universal
 */
.ffl-nav-button {
  color: #444444;
  font-size: small;
  font-weight: 500;
}

body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  font-size: 14px;
  background-image: linear-gradient(145deg, #f0f8ff, #c0c8cf, #f0f8ff);
  background-repeat: no-repeat;
}

ul {
  padding-left: 0;
}

.ffl-display-none {
  display: none;
}