body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  font-size: 14px;
  background-image: linear-gradient(145deg, #f0f8ff, #c0c8cf, #f0f8ff);
  background-repeat: no-repeat;
}

/* div {
  border: 1px solid red;
} */